<! -- File name: footer.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn.azurewebsites.net/
	  Description: This is the footer file that is used on each View -->
	   
  <footer class ="footer">
	<p>This page is &copy of Emma Hilborn</p>
  </footer>
  </body>
</html>