<%- include partials/header.ejs %>

    <h1>About</h1>
	<div class="jumbotron">
		<div class="container">
			 <p>Emma is currently a second-year programming student at Georgian College.</p>
		</div>
	</div>

<%- include partials/footer.ejs %>