<! -- File name: contacts.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn.azurewebsites.net/
	  Description: This is the view for the contact page -->

<%- include partials/header.ejs %>

    <h1>Contact</h1>
	<div class="jumbotron">
		<div class="container">
			 <p>Here is how you can contact Emma.
			 <br/>Hotmail: <a href="mailto:hilborn_emmav@live.ca">hilborn_emmav@live.ca</a>
			 </p>
		</div>
	</div>

<%- include partials/footer.ejs %>