<%- include partials/header.ejs %>

    <h1><%= title %></h1>
	<div class="container">
		<p>Welcome to <%= title %>'s online portfolio!<br>Select an option to navigate to that page!</p>
	</div>
  </body>
</html>
