<! -- File name: index.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn.azurewebsites.net/
	  Description: This is the view for the main or "home" page -->

<%- include partials/header.ejs %>

	<div class="container">
		<h1 class="col-sm-1"><%= title %></h1>
		<p class="col-sm-3">Welcome to <%= title %>'s online portfolio!<br>Select an option to navigate to that page!</p>
	</div>

<%- include partials/footer.ejs %>
