<%- include partials/header.ejs %>

	<div class="container">
		<h1 class="col-sm-2"><%= title %></h1>
			<p class="col-sm-3">Welcome to <%= title %>'s online portfolio!<br>Select an option to navigate to that page!</p>
	</div>

<%- include partials/footer.ejs %>
