
<%- include partials/header.ejs %>

	<div class="page-header">
			<h1 class="col-sm-1"><%= title %></h1>
	</div>
	<div class="jumbotron">
		<div class="container">
			<p class="col-sm-3">Welcome to <%= title %>'s online portfolio!<br>Select an option to navigate to that page!</p>
		</div>
	</div>

<%- include partials/footer.ejs %>
