<! -- File name: projects.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn.azurewebsites.net/
	  Description: This is the view for the projects page -->

<%- include partials/header.ejs %>

    <h1>Projects</h1>
	<div class="jumbotron">
		<div class="container">
			 <p>Emma has worked on numerous projects through her first few semester at college, as well as her first co-op.
			    For details on these projects, please contact her. (See Contact page for information on how)</p>
		</div>
	</div>

<%- include partials/footer.ejs %>