<! -- File name: services.ejs
	  Author's name: Emma Hilborn
	  Website name: http://emmavhilborn.azurewebsites.net/
	  Description: This is the view for the services page -->

<%- include partials/header.ejs %>

    <h1>Services</h1>
	<div class="jumbotron">
		<div class="container">
		    <p>Here is a list of services offered.</p>
		</div>
	</div>

<%- include partials/footer.ejs %>